

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Global Styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

/*para el dasboar*/
.wrapper{/*contenedor de la estructura de la pagina*/
    display: flex;
    height: 100%;
}

/*seccion para el menu de navegacion*/
#sidebar{
    width: 250px;
    height: 100%;
    box-shadow: 0 0 35px 0 rgba(43, 48, 54, 0.5);
    z-index: 10;
    background-image: linear-gradient(to bottom, #0d0e39, #1c427b, #1897a0);   
    position: fixed;
    overflow-y: auto;
    transition: margin-left .2s ease;
}
/*para esconder el menu de navegacion*/
#sidebar.hidden {
    margin-left: -250px;
}

/* Logo del sidebar */
.sidebar-logo{
    padding: 1.15rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar-logo img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: none;
    padding: 0;
}
.sidebar-logo a{
    text-decoration: none;
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600px;
}

/*para las opciones del  menu*/
.sidebar-nav{
    padding: 0;
    margin: 0;
}

.sidebar-item {
    padding-top: 15px;
    margin: 0;
}
.sidebar-link{
    align-items: center;
    padding: 10px 35px;
    text-decoration: none;
    color: #e9ecef;
    display: block;
    font-size: 110%;
}
.sidebar-link:hover {
    background-color: #B9F4E6; 
    color: black;
    border-radius: 30px;
}

/*para la estructura del contenido de la pagnas*/
.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: margin-left 0.2s ease, width 0.2s ease; /* Sincroniza la duración de la transición */
}
/*para ajustar la cabecera cuando se oculte el dasboar*/
.main.expanded {
    margin-left: 0;
    width: 100%;
}

/*para la cabecera*/
.navbar{
    width: 100%;
    background-image: linear-gradient(to bottom, #1b4f82, #2475ab, #31b7e8); /*sdgdsgdsfhgsdghfds*/
}
.namaAdmin{ /*para el estilo del nombre de usuario*/
    color: #fff;
    margin-right: auto;
}
/*estilos para el boton de ocultar de la cabecera*/
#toggleSidebar{
    margin-left: 10px;
    margin-right: 10px;
    border-color: #a4a4c9;
    color: #fff;
}
#toggleSidebar:hover{
    background-color: #c6c5ec;
}

/*para las opciones de cabecera*/
.nav-item{
    border-radius: 5px;
    margin-right: 10px;
}
.nav-link.white-text {
    color: white !important;
}
.nav-item:hover{
    background-color: #1B4B82;
}

/*para el contenido de la paginia*/
.contentini{
    flex: 1;
    max-width: 100vw;
    width: 100%;
    background-size: cover;
    background-image: url(../img/coordinator/fondo_odonot.webp);
    background-size: cover;
    background-position: center;
}
.content{
    flex: 1;
    max-width: 100vw;
    width: 100%;
    background-size: cover;
    background-color: #c6e3f1;
}

/* Ocultar el sidebar en pantallas pequeñas */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px; /* Ocultar el sidebar */
    }

    /* Ajustar el contenedor principal para que ocupe toda la pantalla */
    .main {
        margin-left: 0;
        width: 100%;
    }

    /* Mostrar el sidebar cuando esté visible */
    #sidebar.active {
        margin-left: 0;
    }

    .navbar.active {
        margin-right: 250px;
    }
}