/***************** PARA LA PAGIANA USUARIOS **********************/

.pagUsuario table thead th{ /*para cabecera de tabla de ambientes*/
    background-color: #acf068; 
}

/*para centrar y poner bordes en la tabla*/
.pagUsuario .table td,
.pagUsuario .table th {
    text-align: center;
    vertical-align: middle;/* Centrar el contenido verticalmente */
    border-left: 1px solid black; 
    border-right: 1px solid black; 
    padding: 8px; /* Espaciado interno de las celdas */
}

/*para centrar y poner bordes en la tabla*/
.pagUsuario table tbody tr:hover {
    border: 2px solid #007bff; /* Resaltar borde de la fila */
    border-top: 2px solid #007bff;
}